<div>
  <h1>Juego del ahorcado</h1>
  <p>Introduzca una letra</p>
  <input type="text" class="form-control" maxlength="1" [(ngModel)]="letra"><br>
  <button class="btn btn-primary" (click)="enviar()">Enviar</button>
</div>
{{clave}}
<div>
  {{guion}}
</div>
<br>
<div *ngIf="contador ==0">
  <div id="ahorcado"></div>
</div>
<div *ngIf="contador == 1">
  <div id="ahorcado" [style.backgroundPosition]="contador>0 ? '-225px': ''"></div>
</div>
<div *ngIf="contador == 2">
  <div id="ahorcado" [style.backgroundPosition]="contador>1 ? '-420px': ''"></div>
</div>
<div *ngIf="contador == 3">
  <div id="ahorcado" [style.backgroundPosition]="contador>=0 ? '-630px': ''"></div>
</div>
<div *ngIf="contador == 4">
  <div id="ahorcado" [style.backgroundPosition]="contador>=0 ? '-830px': ''"></div>
</div>
<div *ngIf="contador == 5">
  <h1>Perdiste</h1>
  <span>Intenta de nuevo</span>
</div>

